<%- include("header"); -%>


<div class="text-center my-5 page-title">
  <h1><%= dailyTitle  %></h1>
  <h3><%= dailySubTitle %></h3>
</div>

<div class="container-fluid my-4 text-center page-text">
  <div class="card mx-auto" style="width: 50%;">
    <div class="card-body card-background">
      <div class="container-fluid my-4">
        <div class="container-fluid my-4">
          <h5 class="card-text"><%= content %></h5>
        </div>

        <h4 class="card-title"><%= author %></h4>
      </div>

    </div>
  </div>
</div>




<%- include("footer"); -%>
