<%- include("header"); -%>


<div class="text-center page-title my-5">
  <h1><%= dailyTitle  %></h1>
  <h3><%= dailySubTitle %></h3>
</div>

<div class="container-fluid my-4 pt-2 pb-5">

<%- video %>
</div>




<%- include("footer"); -%>
